@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: 400;
}